{% extends 'base.html' %}

{% block content %}

<div class="container">
    <h3 class="mb-4">{{ page_header }}</h3>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        {% for field in form %}
        <div class="custom-file mb-4">
            {{ field }}
            <label class="custom-file-label">{{ field.label_tag }}</label>
        </div>
        {% endfor %}

        <button type="submit" class="btn btn-primary">Upload</button>
    </form>

</div>

{% endblock content %}